.DS_Store
.ipynb_checkpoints
mongodb
hadoop
mongo-hadoop
lib/mongo*
lib/pymongo_spark.py
elasticsearch
elasticsearch-hadoop
lib
ch03/static
ch06/web/static
*.pyc
tmp
.idea
kafka
zeppelin
ch05/scrape_faa.py
models
.vagrant
*.pem
.reservation_id
.ec2_hostname
.ec2_deep_hostname
.deep_reservation_id
deep/data
.vscode
ghostdriver.log
cassandra
janusgraph
deep
data/origin_dest_distances.jsonl
data/simple_flight_delay_features.jsonl.bz2

kafka_2.12-3.1.2/
apache-zookeeper-3.7.1-bin/
/flight_prediction/target/
/flight_prediction/project/target/config-classes/
